<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Planets</title>
</head>

<body>
    <nav>
        <p class="mainNavText">planet searching app</p> <a href="" id="luckyLink">i'm feeling lucky</a>
    </nav>
    <main>
        <div class="app">
            <div class="circle">
                <h1>Type in a name
                    of an existing planet!
                </h1>

                <form action="/planets" method="get">
                    <div class="inputAndButton">
                        <input type="text" id="inp" name="planetName" placeholder="planet name" required>
                        <button class="mainButton">Click</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p class="footbarText">built in 2023 by ala willam <a href="https://github.com/alawllm">GitHub</a></p>

    </footer>
</body>

</html>