<% layout('../layouts/boilerplate') %>

    <div class="app">
        <div class="circle">
            <h1>Let's find the planet
                <br> you're looking for!
            </h1>
            <form action="/planets" method="get">
                <input type="text" id="inp" name="planetName" placeholder="planet name" required>
                <button class="mainButton">Click</button>
            </form>
        </div>
    </div>