<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&family=Roboto:wght@300&family=Rubik+Bubbles&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/notfound.css">
    <title>Planets</title>
</head>

<body>
    <nav class="navbar">
        <p class="mainNavText">planet searching app <a class="links" href="/">back to the main page</a></p>
    </nav>
    <main>
        <div class="app">
            <p>404</p>
            <p>SORRY, NOT FOUND</p>
        </div>
    </main>
    <footer>
        <p class="footbarText">built in 2023 by ala willam <a href="https://github.com/alawllm">GitHub</a></p>
    </footer>
</body>

</html>