.app {
    /* measurements of the div  */
    border-radius: 10%;
    min-height: 300px;
    min-height: 300px;
    padding: clamp(2rem, 4rem, 8rem);
    /* colors  */
    background: rgb(39, 97, 110);
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
    font-size: clamp(1rem, 1em + 1vw, 5rem);
    font-family: 'Bebas Neue';
}

.app:hover {
    transform: scale(1.02);
}

.inputAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}