.circle {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .2s ease-in-out;
    width: 25em;
    height: 25em;
    padding: 3em;
    background: rgb(41, 87, 97);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: clamp(0.5rem, 1em + 0.5vw, 5rem);
    font-family: 'Pacifico', sans-serif;
    font-weight: 200;
}

.circle:hover {
    transform: scale(1.01);
}

.inputAndButton {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainButton {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 0.9rem;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    outline: none;
    color: #2e283b;
    border: 1px solid #544e4e;
    background-color: #f2f4f4;
}

#inp {
    font-family: 'Roboto', sans-serif;
    font-weight: 6 800;
    font-size: 0.7em;
    text-align: center;
    margin: 1em;
    padding: 8px;
    border-radius: 10px;
    margin: 5px auto;
    border: 1px solid #544e4e;
    background-color: #dcf0f0;
    color: #c9c2c2;
    outline: none;
}