.circle {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .2s ease-in-out;
    width: 25em;
    height: 25em;
    padding: 3em;
    background: rgb(54, 58, 128);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-family: 'Pacifico', sans-serif;
    font-weight: 200;
}

#planetNameLabel {
    font-size: clamp(0.6rem, 2.2em + 1vw, 4rem);
    margin: 1em;
}

#planetNameLabel:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.inputAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainButton {
    font-family: 'Futura';
    margin-top: 1rem;
    border-radius: 15px;
    width: 130px;
    border: none;
    font-size: 1em;
    outline: none;
    color: #2a3c59;
    background-color: #959aca;

}

.mainButton:hover {
    transform: translateY(-3px);
    transition: all .2s ease-in-out;
}

#planetName {
    font-family: 'Futura';
    font-size: 1em;
    text-align: center;
    border-radius: 15px;
    margin: 5px auto;
    border: 1px solid #544e4e;
    background-color: #ebedf4;
    color: #301195;
    outline: none;
    width: 130px;
}