body {
    height: 100vh;
    margin: 0;
    background: rgb(238, 244, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.app {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    background: rgb(113, 149, 199);
    font-family: 'futura';
    color: white;
    line-height: 1vh;
    text-align: left;
    font-size: 1em;
}

.mainNavText {
    padding-left: 3rem;
}

.links {
    color: rgb(86, 82, 164);
    text-decoration: none;
    padding-left: 3em;
    font-size: 1em;
}

.links:hover {
    color: white;
}

footer {
    margin-top: auto;
    width: 100%;
    line-height: 2vh;
    display: inline-block;
    text-align: center;
    background: rgb(168, 191, 224);
    font-family: 'futura';
    color: white;
}

.footbarText {
    line-height: 1.2vh;
    font-size: 1em;
}