body {
    box-sizing: border-box;
    margin: 0;
    background: rgb(239, 243, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.app {
    /* content within the div  */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

nav {
    margin-top: 0;
    width: 100%;
    background: rgb(90, 131, 189);
    font-family: 'futura';
    color: white;
}

.navText {
    font-size: 1em;
    margin-left: 2%;
}

footer {
    margin-top: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
    background: rgb(170, 189, 205);
    font-family: 'futura';
    font-size: 0.8em;
    color: white;
}

.footerText {
    font-size: 1em;
    margin-bottom: auto;
}