body {
    background: rgb(43, 50, 87);
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.app {
    /* content within the div  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}