.app {
    width: 45em;
    height: 25em;
    color: rgb(241, 238, 244);
    text-align: center;
}

.container {
    font-family: 'Futura';
    background: rgb(55, 94, 101);
    border-radius: 20px;
    font-size: clamp(0.8rem, 1em + 0.3vw, 4rem);
    padding: 1.5em;
    display: grid
}

#headerPlanetName {
    font-family: 'Futura';
    font-size: 2em;
    margin-bottom: 1.2em;
}