.app {
    width: 60%;
    height: 50%;
    color: rgb(241, 238, 244);
    text-align: left;
}

.container {
    font-family: 'Futura';
    font-weight: 400;
    background: rgb(42, 53, 84);
    border-radius: 20px;
    font-size: clamp(0.8rem, 1.1em, 4rem);
    padding: 3em;
}

#headerPlanetName {
    font-family: 'Futura';
    font-size: clamp(1rem, 2em, 6rem);
    margin-bottom: 1.2em;
}